html {
    display: flex;
    justify-content: center;
	align-items: center;
    background-color: #171717;
    flex-direction: column;
}

    /* header */

header {
    display: flex;
    flex-direction: row;
	justify-content: center;
	align-items: center;
}

.left-sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 940px;
    width: 300px;
    height: 100px;
}

.EiD {
    font-family: Roboto;
    font-size: 79px;
    color: white;
    font-weight: 100;
}

.Euroinvest {
    font-family: Roboto;
    font-size: 30px;
    color: white;
    font-weight: 50;
}

.right-sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    width: 218px;
    height: 50px;
    margin-top: 21px;
    color: #E4B564;
    border: 1px solid #E4B564;
}

.phone-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

    /* main */

.h2-title {
    color: white;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
}

.p-title {
    color: white;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    width: 1182px;
}

    /* first grid */

#grid-first-container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 468px);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    height: 100%;
}

#earthworks {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #634F2C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 467px;
    height: 468px;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
}

#underground {
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #B4A385;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 467px;
    height: 468px;
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 5;
}

#channels {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #E4B564;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 467px;
    height: 468px;
    grid-row-start: 1;
    grid-column-start: 5;
    grid-row-end: 3;
    grid-column-end: 7;
}

#fixedsupport {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #635A4A;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 715px;
    height: 468px;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 4;
}

#device {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #B08C4D;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 715px;
    height: 468px;
    grid-row-start: 2;
    grid-column-start: 4;
    grid-row-end: 5;
    grid-column-end: 7;
}

.h2-second-title {
    color: white;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

    /* second grid */

#grid-second-container {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 29px 102px 102px 277px;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    height: 100%;
}

#kamaz65115{
    color: white;
    background-color: #0E0E0E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 416px;
    height: 269px;
    padding-top: 44px;
    padding-left: 51px;
    grid-row: span 2;
}

#kamaz3572 {
    color: white;
    background-color: #242424;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 416px;
    height: 395px;
    padding-top: 44px;
    padding-left: 51px;
    grid-column: 2;
}

#backhoeloader {
    color: white;
    background-color: #1F1F1F;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 416px;
    height: 211px;
    padding-top: 44px;
    padding-left: 51px; 
}

#loader {
    color: white;
    background-color: #1F1F1F;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 412px;
    height: 489px;
    padding-top: 44px;
    padding-left: 51px;
    grid-column: 1;
}

#excavator {
    color: white;
    background-color: #E4B564;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 416px;
    height: 361px;
    padding-top: 44px;
    padding-left: 51px;
    grid-column: 2;
    grid-row: 4;
}

#kamazkmu {
    color: white;
    background-color: #0E0E0E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 416px;
    height: 246px;
    padding-top: 44px;
    padding-left: 51px;
    grid-row: 2;
    grid-column: 3;
}

#skating {
    color: white;
    background-color: #0A0909;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    width: 416px;
    height: 233px;
    padding-top: 44px;
    padding-left: 51px;
    grid-row: 5;
    grid-column: 3;
}

    /* footer */

footer {
    background-color: #0E0E0E;
    width: auto;
    height: 927px;
}

.footer-title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 60px;
    
}

.h2-third-title {
    color: white;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    margin-right: 700px;
    font-weight: 700;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E4B564;
    border: 1px solid #E4B564;
    font-family: Roboto;
    font-size: 18px;
    width: 180px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
}

#grid-third-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#block1 {
    display: flex;
	justify-content: center;
	align-items: center;
    background-color: #634F2C;
    width: 487px;
    height: 391px;
}

.photo1 {
    width: 185px;
    height: 49px;
}

#block2 {
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    background-color: #B3A385;
    width: 486px;
    height: 391px;
}

.item1 {
    width: 62px;
    height: 55px;
    margin-bottom: 10px;
}

.item2 {
    width: 119px;
    height: 53px;
}

.item3 {
    width: 25px;
    height: 23.294px;
}

.text1 {
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}

#block3 {
    display: flex;
	justify-content: center;
	align-items: center;
    background-color: #E4B564;
    width: 486px;
    height: 391px;
}

.photo2 {
    width: 119px;
    height: 53px;
}

#block4 {
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
    background-color: #635A4A;
    width: 486px;
    height: 391px;
}

.item4 {
    width: 62px;
    height: 55px;
}

.item5 {
    width: 185px;
    height: 49px;
}

#block5 {
    display: flex;
	justify-content: center;
	align-items: center;
    background-color: #B08C4D;
    width: 486px;
    height: 391px;
}

.photo3 {
    width: 119px;
    height: 53px;
}

#block6 {
    display: flex;
	justify-content: center;
	align-items: center;
    background-color: #634F2C;
    width: 486px;
    height: 391px;
}

.photo4 {
    width: 185px;
    height: 49px;
}